{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}
          <input type="hidden" value="{{following.id}}" class="following-id">
          <button class="unfollowing twit-follow">팔로잉 끊기</button></div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}
          <input type="hidden" value="{{follower.id}}" class="follower-id">
          <button class="unfollower twit-follow">팔로워 삭제</button></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll('.unfollowing').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.following-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉을 취소하시겠습니까?')) {
              axios.post(`/user/${userId}/unfollowing`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    document.querySelectorAll('.unfollower').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.follower-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로워를 삭제하시겠습니까?')) {
              axios.post(`/user/${userId}/unfollower`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %}